<groupbox apply="org.zkoss.bind.BindComposer"
	viewModel="@id('solucionVM') @init('app.tp1.puntob.presentacion.TP1PuntoBSolucionVM')"
	sclass="seccion" validationMessages="@id('vmsgs')">
	<caption sclass="seccion" label="Solución" />
	<include src="@load(solucionVM.inputSrc)" />
	<include visible="@load(solucionVM.mostrandoSolucion)" src="@load(solucionVM.resultadosSrc)" />
</groupbox>
