<div>
	<listbox emptyMessage="Sin números generados."
		model="@load(chiCuadradoVM.detalles)">
		<listhead sizable="true">
			<listheader style="text-align: center"
				label="@load(chiCuadradoVM.testChiCuadradoTablaM.encabezadoA)"
				width="30px" />
			<listheader style="text-align: center"
				label="@load(chiCuadradoVM.testChiCuadradoTablaM.encabezadoB)"
				width="150px" />
			<listheader style="text-align: center"
				label="@load(chiCuadradoVM.testChiCuadradoTablaM.encabezadoC)"
				width="80px" />
			<listheader style="text-align: center"
				label="@load(chiCuadradoVM.testChiCuadradoTablaM.encabezadoD)"
				width="80px" />
			<listheader style="text-align: center"
				label="@load(chiCuadradoVM.testChiCuadradoTablaM.encabezadoE)"
				width="80px" />
			<listheader style="text-align: center"
				label="@load(chiCuadradoVM.testChiCuadradoTablaM.encabezadoF)"
				width="80px" />
			<listheader style="text-align: center"
				label="@load(chiCuadradoVM.testChiCuadradoTablaM.encabezadoG)"
				width="80px" />
			<listheader style="text-align: center"
				label="@load(chiCuadradoVM.testChiCuadradoTablaM.encabezadoH)"
				width="90px" />
		</listhead>
		<template name="model" var="detalle">
			<listitem>
				<listcell style="text-align: right" 
					label="@load(detalle.valorA) @converter(chiCuadradoVM.conversorDeInt)" />
				<listcell style="text-align: center" label="@load(detalle.valorB)" />
				<listcell style="text-align: right" 
					label="@load(detalle.valorC) @converter(chiCuadradoVM.conversorDeInt)" />
				<listcell style="text-align: right" 
					label="@load(detalle.valorD) @converter(chiCuadradoVM.conversorDeDouble)" />
				<listcell style="text-align: right" 
					label="@load(detalle.valorE) @converter(chiCuadradoVM.conversorDeDouble)" />
				<listcell style="text-align: right" 
					label="@load(detalle.valorF) @converter(chiCuadradoVM.conversorDeDouble)" />
				<listcell style="text-align: right" 
					label="@load(detalle.valorG) @converter(chiCuadradoVM.conversorDeDouble)" />
				<listcell style="text-align: right" 
					label="@load(detalle.valorH) @converter(chiCuadradoVM.conversorDeDouble)" />
			</listitem>
		</template>
	</listbox>
</div>
