<zk>
	<div sclass="contenedor_cuerpo_seccion"
		form="@id('fx') @load(solucionVM.generadorCongruencialMultiplicativo, after='clear') @save(solucionVM.generadorCongruencialMultiplicativo, before = 'run')">
		<panel sclass="contenedor_datos">
			<panelchildren>
				<div sclass="contenedor_encabezado_datos">
					<label value="Parámetros a ingresar"
						sclass="encabezado_datos" />
				</div>
				<grid sizedByContent="true">
					<columns>
						<column width="395px" />
						<column width="395px" />
						<column />
					</columns>
					<rows>
						<row>
							<hlayout>
								<label hflex="1" value="Semilla:"
									sclass="nombre_campo" />
								<hlayout hflex="1">
									<textbox width="150px"
										instant="true" mold="rounded"
										value="@save(fx.x0) @converter(solucionVM.conversorDeLong) @validator(solucionVM.ingresarSemillaValidator, x0=fx.x0)" />
									<image
										tooltiptext="@load(not empty vmsgs['ingresarSemilla'] ? vmsgs['ingresarSemilla'] : solucionVM.defaultTooltiptextIngresarSemilla)"
										src="@load(solucionVM.ingresarSemillaIconSrc)" />
								</hlayout>
							</hlayout>
							<hlayout>
								<label hflex="1" value="Módulo:"
									sclass="nombre_campo" />
								<hlayout hflex="1">
									<textbox width="150px"
										instant="true" mold="rounded"
										value="@save(fx.m) @converter(solucionVM.conversorDeLong) @validator(solucionVM.ingresarModuloValidator, m=fx.m)" />
									<image
										tooltiptext="@load(not empty vmsgs['ingresarModulo'] ? vmsgs['ingresarModulo'] : solucionVM.defaultTooltiptextIngresarModulo)"
										src="@load(solucionVM.ingresarModuloIconSrc)" />
								</hlayout>
							</hlayout>
						</row>
						<row>
							<hlayout>
								<label hflex="1"
									value="Constante multiplicativa:" sclass="nombre_campo" />
								<hlayout hflex="1">
									<textbox width="150px"
										instant="true" mold="rounded"
										value="@save(fx.a) @converter(solucionVM.conversorDeLong) @validator(solucionVM.ingresarConstanteMultiplicativaValidator, a=fx.a)" />
									<image
										tooltiptext="@load(not empty vmsgs['ingresarConstanteMultiplicativa'] ? vmsgs['ingresarConstanteMultiplicativa'] : solucionVM.defaultTooltiptextIngresarConstanteMultiplicativa)"
										src="@load(solucionVM.ingresarConstanteMultiplicativaIconSrc)" />
								</hlayout>
							</hlayout>
						</row>
					</rows>
				</grid>
			</panelchildren>
		</panel>
	</div>
	<div sclass="contenedor_boton_run">
		<button tooltiptext="Solución" dir="normal"
			image="./images/run.png"
			disabled="@load(not solucionVM.validacionOk)"
			onClick="@command('run')" />
	</div>
</zk>